<launch>
  <!--Launch first camera (provide launch file of first camera)-->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="935322071831"/>
  </include>
  <!--Launch second camera (provide launch file of second camera)-->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="939622074287"/> 
  </include>
  <!--Launch calibration tool. Adjust launch parmameters according to camera image and camera topic names.-->
  <node pkg="dual_extrinsic_calibration" type="dual_extrinsic_calibration_node" name="dual_extrinsic_calibration_node"  output="screen"/>
    <param name="camera_1_image" value="/935322071831/color/image_raw" type="string"/>
    <param name="camera_2_image" value="/939622074287/color/image_raw"/>
    <param name="camera_1_info" value="/935322071831/color/camera_info"/>
    <param name="camera_2_info" value="/939622074287/color/camera_info"/>
  <!--Launch TF publisher to publish camera pose relative to parent frame (provide optical axis frame)-->
  <node pkg="dual_extrinsic_calibration" type="tfPosePublisher" name="tf_pose_broadcaster"/>
    <param name="parent_optical_frame" value="935322071831_color_optical_frame"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dual_extrinsic_calibration)/config/realsense.rviz"/>
</launch> 
